* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Ajusta el modelo de caja, determinando el ancho, alto y padding */
}

/* Estilos globales */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color:#333;
    background-color: #FDEAAC;
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Central el contenido verticalmente */
    height: 100vh; /* 100% del alto de la ventana */
}

/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Ajusta el modelo de caja, determinando el ancho, alto y padding */
}


/* Contenedor del formulario de login */
.login-container {
    background-color: #fff; /* Color de fondo */
    padding: 30px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 100%; /* Ancho del 100% */
    max-width: 400px; /* Ancho máximo */
}

.logo-container {
    text-align:center;
}

.logo {
    height: 200px; /* Ajusta el tamaño del logo */
    margin-left: 15px; /* Espacio entre el título y el logo */
    text-align: center;
}

h2 {
    text-align: center; /* Alineación del texto */
    font-size: 2rem; /* Tamaño de la fuente */
    font-weight: bold;
    color:#4B0014;
    margin-bottom: 1rem;
}

/* Estilos de formulario */
.login-form {
    display: flex; /* Flexbox para alienar los elementos */
    flex-direction: column; /* Alineación de los elementos en columna */
}

/* Estilos de los campos de entrada */
.input-group {
    margin-bottom: 15px; /* Espaciado inferior */
}

label {
    font-size: 0.9rem; /* Tamaño de la fuente */
    color: #333; /*  Color del texto */
    margin-bottom: 5px; /* Espacio inferior */
}

input[type="text"], 
input[type="password"] {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color:#202021;
    margin-bottom: 1rem; /* Añadir un margen inferior para separar parrafos */
    width: 100%; /* Ancho del 100% */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de la fuente */
    outline: none; /* Elimina el borde alrededor del campo de entrada */
}

input[type="text"]:focus, 
input[type="password"]:focus {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color:#202021;
    margin-bottom: 1rem; /* Añadir un margen inferior para separar pàrrafos */
    border-color: #fff; /* Color del borde al hacer foco */
}

/* Estilos del botón del login */
.login-btn {
    padding: 12px; /* Espaciado interno */
    background-color: #4B0014; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Transiciòn al pasar el ratón */
}

.login-btn:hover {
    background-color:#EC3D2C; /* Color de fondo al pasar el ratón */
}

/* Estilos del enlace de contraseña olvidada */
.forgot-password {
    text-align: center; /* Alineación del texto */
    margin-top: 10px; /* Espacio superior */
}

.forgot-password a {
    color: #EC3D2C; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 0.9rem; /* Tamaño de la fuente */
}

.forgot-password a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
    color:#202021;
}

/* Estilos de enlace de registro */
.register {
    text-align: center; /* Alineación del texto */
    margin-top: 10px; /* Espacio superior */
}

.register a {
    color: #EC3D2C; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 0.9rem; /* Tamaño de la fuente */
}

.register a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
    color:#202021;
}
